@{
    ViewData["Title"] = "Evaluación";
}
<br><br><br><br><br><br><br><br><br><br><br><br>
<h2 style="text-align: center;">@ViewData["Title"]</h2>

<div style="text-align: center;" id="evaluacion">
        Resultado: @ViewBag.Resultado
</div>

<style>
    body{
    background-color: #8DC29B;
    }

    h2{
        color: #CED396;
    }

    .id{
        color: red;
    }
</style>